.response__wrapper {
	margin: 0 auto;
	padding: 2rem 2rem;
	background-color: $dark;
	max-width: 950px;

	.response {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
		gap: 3rem;
		color: white;

		.response__field {
			color: $primaryColor;
			font-weight: 600;
			letter-spacing: 2px;
		}
	}
}
